<!-- navbar.component.html -->
<nav class="navbar">
    <div class="container">
      <div class="logo">
        <a routerLink="/"><img src="https://www.ridewaretech.com/img/ridelogo-01.png" alt="" style="height: 26px;"></a>
      </div>
      <div class="menu-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav-links" [ngClass]="{'active': isMenuOpen}">
        <!-- <li><a routerLink="/">Home</a></li> -->
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/companydetails">About</a></li>
        <li><a routerLink="/employeedetails">employeedetails</a></li>
        <li><a routerLink="/">logout</a></li>

      </ul>
    </div>
  </nav>
  
  
    <router-outlet></router-outlet>